.sidebar {
    height: 100vh;
    width: 225px;
    max-width: 225px ;
    background-color: #30475e;
}

.profile-image-wrapper {
    height: 150px;
    width: 150px;
    padding: 0.5em;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}

.profile_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
}

.user-name {
    color: white;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
}

.sidebar-content {
    background-color: #30475e;
}

.option-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.option-list li {
    display: flex;
    justify-content: center;
    padding: 0.7em;
    cursor: pointer;
}

.option-list li:hover,
.option-list li:focus  {
    background-color: hsl(0, 0%, 47%);;
}

.option-list li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}